{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
    <h1>les villes</h1>
		<ul class="d-flex flex-row flex-wrap">
			{% for ville in villes %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{ ville.name}}</h5>
						<p>les restaurants de cette ville</p>
						<a class="card link-primary btn btn-primary" href="{{ path("ville", {nom: ville.name}) }}">
							voir

						</a>
					</div>
				</div>
			{% endfor %}

		</ul>

        <h1>les restaurants</h1>
        <ul class="d-flex flex-row flex-wrap">
			{% for restaurant in restaurants %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
                    <img class="card-img-top" src="{{restaurant.image}}" alt="{{ restaurant.name}}">
						<h5 class="card-title">{{ restaurant.name}}</h5>
						<p>proprietaire: {{restaurant.proprietaire.name}} {{restaurant.proprietaire.prenom}}</p>
						<a class="card link-primary btn btn-primary" href="{{ path("Restaurant", {nom: restaurant.name}) }}">
							voir

						</a>
					</div>
				</div>
			{% endfor %}

		</ul>

	<h1>les proprietaires</h1>
		<ul class="d-flex flex-row flex-wrap">
			{% for restaurant in restaurants %}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{restaurant.proprietaire.name}} {{restaurant.proprietaire.prenom}}</h5>
                        <p>voir le restaurant</p>
						<a class="card link-primary btn btn-primary" href="{{ path("Restaurant", {nom: restaurant.name}) }}">
							voir

						</a>
					</div>
				</div>
			{% endfor %}

		</ul>

{% endblock %}
