{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<ul class="d-flex flex-row flex-wrap">
			{% for restaurant in restaurants %}
            {% if restaurant.Ville.name == ville %}

				<div class="card" style="width: 18rem;">
					<div class="card-body">
                    <img class="card-img-top" src="{{restaurant.image}}" alt="{{ restaurant.name}}">
						<h5 class="card-title">{{ restaurant.name}}</h5>
						<p>proprietaire: {{restaurant.proprietaire.name}} {{restaurant.proprietaire.prenom}}</p>
						<a class="card link-primary btn btn-primary" href="{{ path("Restaurant", {nom: restaurant.proprietaire.name}) }}">
							voir

						</a>
					</div>
				</div>
                {% endif %}
			{% endfor %}

		</ul>



	</div>
{% endblock %}
